<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroSell | Password Changed Conformation</title>
    <link rel="icon" type="image/x-icon" href="/siteImages/favicon.png">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <form action="/user/login" method="get">
            <i class="fas fa-paper-plane"></i>

            <div class="input-group">
                <label>Congratulations!!</label>
            </div>
            <div style="margin-bottom: 10px;">
                <p>Your password has been changed.</p>
            </div>
            <div>
                <p>Click below to Login</p>
            </div>

            <button type="submit">Login</button>


        </form>

    </div>

</body>

</html>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .container {
        width: 100%;
        height: 100vh;
        background: #141a34;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container form {
        width: 90%;
        max-width: 550px;
        padding: 50px 30px 20px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        position: relative;
    }

    .fa-paper-plane {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        font-size: 26px;
        padding: 20px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .input-group {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0;
        position: relative;
    }

    .input-group label {
        margin: auto;
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
    }

    form button {
        background: #141a34;
        color: #fff;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.7);
        padding: 10px 40px;
        outline: 0;
        cursor: pointer;
        display: block;
        margin: 30px auto 10px;
    }

    div p {
        margin: auto;
        font-size: 25px;
        text-align: center;
    }
</style>